ul {
    padding: 0;

}


.firstContainer {
    width: 25%;
    float: left;
}

.secondContainer {
    width: 25%;
    float: left;
}

.thirdContainer {
    width: 25%;
    float: left;
    text-align: justify;
}

.footerCopyright {
    clear: both;
    text-align: center;
}

.disclaimer {
    font-size: .5rem; 
    color:dimgray;
    text-align: center;
}


